{{define "body"}}
  <!-- Hack CSS Style -->
  <style>body { background: #eee!important }</style>
  <!-- Body Content -->
  <div class="credit-container">
    <br>
    The Chun Rapeepat Production @2017
  </div>
  <div class="white-container">
    <div class="padding">

      <div class="paper-info">
        <div>
          <h1>Grade Report</h1>
          <br>
          <span class="information">
            Student Number: <span>{{.UserInfo.StudentNo}}</span> Name: <span>{{.UserInfo.Name}}</span><br>
            Faculty: <span>{{.UserInfo.Faculty}}</span> Field Of Study: <span>{{.UserInfo.FieldOfStudy}}</span><br>
            Sector: <span>{{.UserInfo.CourseType}}</span> Degree: <span>{{.UserInfo.Degree}}</span>
          </span>
        </div>
        <div>
          <img src="/static/ku-logo.png" width="100%">
        </div>
      </div>

      <br>
      <hr><br>

      {{range .CourseInfo}}
      <div class="grade">
        <div>{{.Grade}}</div>
        <div>
          <h2>{{.Title}}</h2>
          <span class="information">
            Course Code: <span>{{.Code}}</span> Grade: <span>{{.Grade}}</span> Credit: <span>{{.Credit}}</span>
          </span>
        </div>
      </div>
      {{end}}

      <br>
      <span class="information">
        G.P.A (Grade Point Average) = 3.91
      </span>

    </div>
  </div>

  <div class="credit-container print-disable" style="margin-bottom: 50px;">
    <button onclick="window.print()" type="button" class="btn btn-dark">Print your report</button>
  </div>
{{end}}
