{{define "body"}}
  <!-- Hack CSS Style -->
  <style>body { background: #eee!important }</style>
  <!-- Body Content -->
  <div class="credit-container">
    <br>
    The Chun Rapeepat Production @2017
  </div>
  <div class="white-container">
    <div class="padding">

      <div class="paper-info">
        <div>
          <h1>Grade Report</h1>
          <br>
          <span class="information">
            Student Number: <span>6010405408</span> Name: <span>นายรพีพัฒน์ แก้วประสิทธิ์</span><br>
            Faculty: <span>คณะวิทยาศาสตร์</span> Field Of Study: <span>วิทยาการคอมพิวเตอร์</span><br>
            Sector: <span>ภาษาไทย ปกติ</span> Degree: <span>ปริญญาตรี</span>
          </span>
        </div>
        <div>
          <img src="/static/ku-logo.png" width="100%">
        </div>
      </div>

      <br>
      <hr><br>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <div class="grade">
        <div>A</div>
        <div>
          <h2>Fundamental Programming Concept</h2>
          <span class="information">
            Course Code: <span>01321399</span> Grade: <span>A</span> Credit: <span>3</span>
          </span>
        </div>
      </div>

      <br>
      <span class="information">
        G.P.A (Grade Point Average) = 3.91
      </span>

    </div>
  </div>

  <div class="credit-container print-disable" style="margin-bottom: 50px;">
    <button onclick="window.print()" type="button" class="btn btn-dark">Print your report</button>
  </div>
{{end}}
