{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grade Report Beautifier @KU | Chun Rapeepat</title>
    <link rel="stylesheet" href="static/design.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <body>
    {{template "body" .}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77270777-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-77270777-3');

      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        document.body.innerHTML = "This app not support mobile device T-T"
      }
    </script>
  </body>
</html>
{{end}}
