{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grade Report Beautifier @KU | Chun Rapeepat</title>
    <link rel="stylesheet" href="static/design.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <body>
    {{template "body" .}}
  </body>
</html>
{{end}}
