{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grade Report Beautifier @KU | Chun Rapeepat</title>
    <link rel="stylesheet" href="static/css/design.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  </head>
  <body>
    {{template "body" .}}
  </body>
</html>
{{end}}
